<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>id</key>
		<string>1</string>
		<key>thumb</key>
		<string>m1</string>
		<key>video</key>
		<string>material1</string>
	</dict>
	<dict>
		<key>id</key>
		<string>2</string>
		<key>thumb</key>
		<string>m2</string>
		<key>video</key>
		<string>material2</string>
	</dict>
	<dict>
		<key>id</key>
		<string>3</string>
		<key>thumb</key>
		<string>m3</string>
		<key>video</key>
		<string>material3</string>
	</dict>
	<dict>
		<key>id</key>
		<string>4</string>
		<key>thumb</key>
		<string>m4</string>
		<key>video</key>
		<string>material4</string>
	</dict>
    <dict>
        <key>id</key>
        <string>21</string>
        <key>thumb</key>
        <string>m2-1</string>
        <key>video</key>
        <string>material2-1</string>
    </dict>
    <dict>
        <key>id</key>
        <string>22</string>
        <key>thumb</key>
        <string>m2-2</string>
        <key>video</key>
        <string>material2-2</string>
    </dict>
    <dict>
        <key>id</key>
        <string>23</string>
        <key>thumb</key>
        <string>m2-3</string>
        <key>video</key>
        <string>material2-3</string>
    </dict>
    <dict>
        <key>id</key>
        <string>24</string>
        <key>thumb</key>
        <string>m2-4</string>
        <key>video</key>
        <string>material2-4</string>
    </dict>
    <dict>
        <key>id</key>
        <string>31</string>
        <key>thumb</key>
        <string>m3-1</string>
        <key>video</key>
        <string>material3-1</string>
    </dict>
    <dict>
        <key>id</key>
        <string>32</string>
        <key>thumb</key>
        <string>m3-2</string>
        <key>video</key>
        <string>material3-2</string>
    </dict>
    <dict>
        <key>id</key>
        <string>41</string>
        <key>thumb</key>
        <string>m4-1</string>
        <key>video</key>
        <string>material4-1</string>
    </dict>
    <dict>
        <key>id</key>
        <string>42</string>
        <key>thumb</key>
        <string>m4-2</string>
        <key>video</key>
        <string>material4-2</string>
    </dict>
</array>
</plist>
