<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>id</key>
		<string>1</string>
		<key>time</key>
		<integer>6</integer>
		<key>word</key>
		<string>哈哈</string>
		<key>thumb</key>
		<string>sc1</string>
	</dict>
	<dict>
		<key>id</key>
		<string>2</string>
		<key>time</key>
		<integer>6</integer>
		<key>word</key>
		<string>呵呵</string>
		<key>thumb</key>
		<string>sc2</string>
	</dict>
	<dict>
		<key>id</key>
		<string>3</string>
		<key>time</key>
		<integer>6</integer>
		<key>word</key>
		<string>吼吼</string>
		<key>thumb</key>
		<string>sc3</string>
	</dict>
</array>
</plist>
