<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>section</key>
		<array>
			<dict>
				<key>type</key>
				<integer>0</integer>
				<key>id</key>
				<string></string>
			</dict>
			<dict>
				<key>type</key>
				<integer>1</integer>
				<key>id</key>
				<string></string>
			</dict>
			<dict>
				<key>type</key>
				<integer>0</integer>
				<key>id</key>
				<string></string>
			</dict>
			<dict>
				<key>type</key>
				<integer>1</integer>
				<key>id</key>
				<string></string>
			</dict>
			<dict>
				<key>type</key>
				<integer>0</integer>
				<key>id</key>
				<string></string>
			</dict>
			<dict>
				<key>type</key>
				<integer>1</integer>
				<key>id</key>
				<string></string>
			</dict>
		</array>
		<key>id</key>
		<string>1</string>
		<key>title</key>
		<string>title</string>
		<key>thumb</key>
		<string>url</string>
		<key>video</key>
		<string>url</string>
	</dict>
	<dict>
		<key>section</key>
		<array>
			<dict>
				<key>type</key>
				<integer>0</integer>
				<key>id</key>
				<string></string>
			</dict>
			<dict>
				<key>type</key>
				<integer>1</integer>
				<key>id</key>
				<string></string>
			</dict>
			<dict>
				<key>type</key>
				<integer>0</integer>
				<key>id</key>
				<string></string>
			</dict>
			<dict>
				<key>type</key>
				<integer>1</integer>
				<key>id</key>
				<string></string>
			</dict>
			<dict>
				<key>type</key>
				<integer>0</integer>
				<key>id</key>
				<string></string>
			</dict>
			<dict>
				<key>type</key>
				<integer>1</integer>
				<key>id</key>
				<string></string>
			</dict>
		</array>
		<key>id</key>
		<string>2</string>
		<key>title</key>
		<string>title</string>
		<key>thumb</key>
		<string>url</string>
		<key>video</key>
		<string>url</string>
	</dict>
</array>
</plist>
